<html>
    <head>
        <title>demo calculator design</title>
    </head>

    <body>
        <h2>Calculator</h2>
        <form method = "POST" action="/submit">
            <label for = "operand1">first operand</label>
            <input type="text" name="operand1" id = "operand1" value="{{ .FirstOperand }}">
            
            <br/>

            <!--<p> Please select operator: </p>
            {{range $op := .Operator}}
                <input type = "radio" name = "operator" id = "{{ $op.Text }}" value = "{{ $op.Value }}" {{ if $op.IsChecked }} checked {{ end }}>
                <label for = "{{ $op.Text }}"> {{ $op.Text }} </label>
                <br/>
            {{ end }}-->

            <label for = "operator">Please select operator</label>

            <select id = "operator" name = "operator">
                <option selected hidden>Choose here</option>
                {{ range $op := .Operator }}
                    <option value = "{{ $op.Value }}" {{ if $op.IsChecked }} selected {{ end }}>{{ $op.Text }}</option>
                {{ end }}
            </select>

            <br/>

            <label for = "operator2">second operand</label>
            <input type="text" name="operand2" id = "operator2" value="{{ .SecondOperand }}">
            
            <br/>

            <input type="submit">
            <button type = "button" onclick = "location.href = '/'">CustomReset</button>
            
            <br/>

            <input type="text" name="result" value="{{ .Result }}">
        </form>
    </body>
</html>
